<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579074026279-con5qj292vhagv4pnl7u93n7rsp1rdr5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579074026279-con5qj292vhagv4pnl7u93n7rsp1rdr5</string>
	<key>API_KEY</key>
	<string>AIzaSyB9ADIr2g19XhkUjBhuWH-YqfYV1k_ivxM</string>
	<key>GCM_SENDER_ID</key>
	<string>579074026279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication5</string>
	<key>PROJECT_ID</key>
	<string>collegeproject-1c4a8</string>
	<key>STORAGE_BUCKET</key>
	<string>collegeproject-1c4a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579074026279:ios:910b372ab1c12db4991702</string>
</dict>
</plist>